
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');



body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root{
  font-size: 100%;
}
@media (max-width: 768px){
  :root{
    font-size: 75%;
  }
}

@media (max-width: 400px){
  :root{
    font-size: 70%;
  }
}